Node-RED Flows/armazenar_dados_no_banco.json
[{"id":"41662923.0acb78","type":"tab","label":"Armazendo dados no Banco","disabled":false,"info":""},{"id":"d825d912.ba6d68","type":"debug","z":"41662923.0acb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":811.5,"y":255,"wires":[]},{"id":"bf1eec12.51a71","type":"inject","z":"41662923.0acb78","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":172.5,"y":135,"wires":[["41f05c45.c27994"]]},{"id":"41f05c45.c27994","type":"http request","z":"41662923.0acb78","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","proxy":"","authType":"","x":396.5,"y":138,"wires":[["94f508.e1af6af8"]]},{"id":"94f508.e1af6af8","type":"mongodb2 in","z":"41662923.0acb78","service":"_ext_","configNode":"df97198.2e34de8","name":"Atlas","collection":"node_red_test","operation":"insert","x":565,"y":315,"wires":[["d825d912.ba6d68"]]},{"id":"df97198.2e34de8","type":"mongodb2","z":"","uri":"mongodb://uj8ul4pdodzhngd7pnmf:4VAoswiRLKEVAX4B@sensors-shard-00-00-ihqei.mongodb.net:27017,sensors-shard-00-01-ihqei.mongodb.net:27017,sensors-shard-00-02-ihqei.mongodb.net:27017/test?ssl=true&replicaSet=SENSORS-shard-0&authSource=admin&retryWrites=true&w=majority","name":"atlasCloud","options":"","parallelism":"-1"}]