Node-RED Flows/armazenar_dados_no_banco_v1.1.json
[{"id":"956d0898.623568","type":"tab","label":"Armazendo dados no Banco","disabled":false,"info":""},{"id":"baefea1a.9600e8","type":"debug","z":"956d0898.623568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":811.5,"y":255,"wires":[]},{"id":"f5b7cb63.f1caf8","type":"inject","z":"956d0898.623568","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":172.5,"y":135,"wires":[["1121fcbd.e2d2a3"]]},{"id":"1121fcbd.e2d2a3","type":"http request","z":"956d0898.623568","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","proxy":"","authType":"","x":396.5,"y":138,"wires":[["73fb652f.66460c"]]},{"id":"73fb652f.66460c","type":"mongodb2 in","z":"956d0898.623568","service":"_ext_","configNode":"496c0bbd.c7c6f4","name":"Atlas","collection":"node_red_test","operation":"insert","x":565,"y":315,"wires":[["baefea1a.9600e8"]]},{"id":"44d2664c.cccae8","type":"inject","z":"956d0898.623568","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":147.5,"y":381,"wires":[["c6ac43e3.4409c"]]},{"id":"c6ac43e3.4409c","type":"http request","z":"956d0898.623568","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","proxy":"","authType":"","x":398,"y":487,"wires":[["9371117.89b44f"]]},{"id":"9371117.89b44f","type":"mongodb out","z":"956d0898.623568","mongodb":"feabc217.aa5c7","name":"","collection":"ISS","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":762.5,"y":433,"wires":[]},{"id":"496c0bbd.c7c6f4","type":"mongodb2","z":"","uri":"mongodb://uj8ul4pdodzhngd7pnmf:4VAoswiRLKEVAX4B@sensors-shard-00-00-ihqei.mongodb.net:27017,sensors-shard-00-01-ihqei.mongodb.net:27017,sensors-shard-00-02-ihqei.mongodb.net:27017/test?ssl=true&replicaSet=SENSORS-shard-0&authSource=admin&retryWrites=true&w=majority","name":"atlasCloud","options":"","parallelism":"-1"},{"id":"feabc217.aa5c7","type":"mongodb","z":"","hostname":"172.21.0.3","port":"27017","db":"nodered","name":""}]