Node-RED Flows/armazenar_dados_no_banco_v1.0.json
[{"id":"e0d1a0f9.5ea32","type":"tab","label":"Armazendo dados no Banco","disabled":false,"info":""},{"id":"ee358560.b95e38","type":"debug","z":"e0d1a0f9.5ea32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":811.5,"y":255,"wires":[]},{"id":"ea00aa64.8f6008","type":"inject","z":"e0d1a0f9.5ea32","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":0.1,"x":172.5,"y":135,"wires":[["747588e1.0cd5f8"]]},{"id":"747588e1.0cd5f8","type":"http request","z":"e0d1a0f9.5ea32","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","proxy":"","authType":"","x":396.5,"y":138,"wires":[["679be1f4.757cc"]]},{"id":"679be1f4.757cc","type":"mongodb2 in","z":"e0d1a0f9.5ea32","service":"_ext_","configNode":"3609f37e.39040c","name":"Atlas","collection":"node_red_test","operation":"insert","x":565,"y":315,"wires":[["ee358560.b95e38"]]},{"id":"92f8a36.7aa606","type":"inject","z":"e0d1a0f9.5ea32","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"x":147.5,"y":381,"wires":[["8b93bd8f.f43e9"]]},{"id":"8b93bd8f.f43e9","type":"http request","z":"e0d1a0f9.5ea32","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","proxy":"","authType":"","x":398,"y":487,"wires":[["8036db17.b38978"]]},{"id":"8036db17.b38978","type":"mongodb out","z":"e0d1a0f9.5ea32","mongodb":"ba551bec.e1d4a8","name":"","collection":"ISS","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":772.5,"y":433,"wires":[]},{"id":"3609f37e.39040c","type":"mongodb2","z":"","uri":"mongodb://uj8ul4pdodzhngd7pnmf:4VAoswiRLKEVAX4B@sensors-shard-00-00-ihqei.mongodb.net:27017,sensors-shard-00-01-ihqei.mongodb.net:27017,sensors-shard-00-02-ihqei.mongodb.net:27017/test?ssl=true&replicaSet=SENSORS-shard-0&authSource=admin&retryWrites=true&w=majority","name":"atlasCloud","options":"","parallelism":"-1"},{"id":"ba551bec.e1d4a8","type":"mongodb","z":"","hostname":"192.168.160.2","port":"27017","db":"nodered","name":""}]