Node-RED Flows/flows.json
[
    {
        "id": "8bf28c69.d92ac",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8fbed91d.9727c8",
        "type": "server-events",
        "z": "8bf28c69.d92ac",
        "name": "",
        "server": "1c6da0a2.013a5f",
        "event_type": "",
        "x": 187.5,
        "y": 217,
        "wires": [
            [
                "bc45d259.b66ec",
                "3c6aee24.7d9f22",
                "d46d75bc.77e848"
            ]
        ]
    },
    {
        "id": "bc45d259.b66ec",
        "type": "debug",
        "z": "8bf28c69.d92ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 774.5,
        "y": 221,
        "wires": []
    },
    {
        "id": "3c6aee24.7d9f22",
        "type": "change",
        "z": "8bf28c69.d92ac",
        "name": "Catching events",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "event_type",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 447.5,
        "y": 115,
        "wires": [
            []
        ]
    },
    {
        "id": "d46d75bc.77e848",
        "type": "change",
        "z": "8bf28c69.d92ac",
        "name": "Catching entity id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.entity_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 472.5,
        "y": 346,
        "wires": [
            []
        ]
    },
    {
        "id": "1c6da0a2.013a5f",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]