Node-RED Flows/user_sensor_manager.json
[{"id":"8bf28c69.d92ac","type":"tab","label":"Users sensor manager","disabled":false,"info":""},{"id":"8fbed91d.9727c8","type":"server-events","z":"8bf28c69.d92ac","name":"","server":"1c6da0a2.013a5f","event_type":"","x":132.5,"y":358,"wires":[["5520efd5.5e5eb"]]},{"id":"5520efd5.5e5eb","type":"switch","z":"8bf28c69.d92ac","name":"checking entity regitry","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"entity_registry_updated","vt":"str"}],"checkall":"true","repair":true,"outputs":1,"x":333.5,"y":359,"wires":[["8ea2e2b0.024b2","de49383d.788d18"]]},{"id":"8ea2e2b0.024b2","type":"switch","z":"8bf28c69.d92ac","name":"checking event action - create","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"create","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620.5,"y":343,"wires":[["893dbafa.649828"]]},{"id":"893dbafa.649828","type":"change","z":"8bf28c69.d92ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":635.5,"y":269,"wires":[["ffaac52b.f4a4d8"]]},{"id":"de49383d.788d18","type":"switch","z":"8bf28c69.d92ac","name":"checking event action - remove","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"remove","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":618,"y":387,"wires":[["418344ae.eb43ac"]]},{"id":"ffaac52b.f4a4d8","type":"python3-function","z":"8bf28c69.d92ac","name":"getting entity name","func":"import re\n\ny = re.findall(r\"\\.(.*)\", msg[\"payload\"])\n\nreturn y","outputs":1,"x":900.5,"y":263,"wires":[["7be3c531.1fae7c"]]},{"id":"7be3c531.1fae7c","type":"debug","z":"8bf28c69.d92ac","name":"fmsg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140.5,"y":260,"wires":[]},{"id":"418344ae.eb43ac","type":"change","z":"8bf28c69.d92ac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":668,"y":470,"wires":[["b8f8793.0091d88"]]},{"id":"b8f8793.0091d88","type":"python3-function","z":"8bf28c69.d92ac","name":"getting entity name","func":"import re\n\ny = re.findall(r\"\\.(.*)\", msg[\"payload\"])\n\nreturn y","outputs":1,"x":883,"y":472,"wires":[[]]},{"id":"1c6da0a2.013a5f","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]